body {
    min-width: 320px;
    height: 100dvh;
    margin: 0;
    font-family: 'Cinzel', serif;
    background: linear-gradient(to right, #1f1f1f, #3592FB, #1f1f1f);
    color: #fff;
}

#app {
    min-width: 320px;
    width: 100%;
    height: 100dvh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1f1f1f, transparent, #1f1f1f);
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 0;
    z-index: 1;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1;
    z-index: 1;
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.contenedorBurbujas {
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 0;
}
